Source: ilisp
Section: non-free/devel
Priority: optional
Maintainer: Kevin M. Rosenberg <kmr@debian.org>
Build-Depends-Indep: debhelper (>= 4.0.0), texinfo, tetex-bin, gs-common, texi2html
Standards-Version: 3.5.6.1

Package: ilisp
Architecture: all
Depends: emacsen-common, common-lisp-controller
Recommends: ilisp-doc, hyperspec, cltl
Description: Package for interacting with LISPs using EMACSes
 ILISP is a powerful GNU Emacs interface to many dialects of Lisp,
 including Lucid, Allegro, Harlequin LispWorks, GCL, KCL, AKCL, ECL,
 IBCL, and CMUCL.  Also some Scheme implementations are supported as
 well as a preliminary version of Xlisp/XlispStat.
 .
 This version of ILISP features compatibility with Common Lisp Controller.
 (see /usr/share/doc/ilisp/local-modifications)

Package: ilisp-doc
Architecture: all
Section: non-free/devel
Recommends: ilisp
Description: Documentation for ILISP package.
 This package supplies PDF and HTML documentation for the ILISP
 package. ILISP is a powerful GNU Emacs interface to many dialects of
 Lisp.

