Source: ilisp
Section: devel
Priority: optional
Maintainer: Debian Emacs addons team <pkg-emacsen-addons@lists.alioth.debian.org>
Uploaders: Barak A. Pearlmutter <bap@debian.org>
Build-Depends-Indep: debhelper (>= 10),
	texinfo, ghostscript, texlive-latex-base
Rules-Requires-Root: no
Standards-Version: 4.1.1
Homepage: https://sourceforge.net/projects/ilisp/
Vcs-Git: https://anonscm.debian.org/git/collab-maint/ilisp.git
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/ilisp.git

Package: ilisp
Architecture: all
Pre-Depends: common-lisp-controller (>= 3.42)
Depends: emacsen-common, ${misc:Depends}
Recommends: ilisp-doc
Suggests: hyperspec, cltl, emacs | emacs25 | emacs24 | emacs23 | emacs22 | emacs21 | xemacs
Description: Emacs interface to LISP implementations
 ILISP is a powerful GNU Emacs interface to many dialects of Lisp,
 including Lucid, Allegro, Harlequin LispWorks, GCL, KCL, AKCL, ECL,
 IBCL, and CMUCL.  Also some Scheme implementations are supported as
 well as a preliminary version of Xlisp/XlispStat.

Package: ilisp-doc
Architecture: all
Depends: ${misc:Depends}
Section: doc
Recommends: ilisp
Description: Documentation for ILISP package
 This package supplies PDF and HTML documentation for the ILISP
 package. ILISP is a powerful GNU Emacs interface to many dialects of
 Lisp.
